div {
	border-style: solid;
	border-width: 5px;
    border-color: aqua;
	padding: 30px;
}

.no-borders {
	border: 0;
}


.container {
	border-color: aqua;
    
}

.row {
	border-color: aqua;
}

.list-group-item {
	border: 0;
	margin-top: 40px;
	margin-bottom: 40px;
}

/*.class {
    float: left;
    width: 110px;
    height: 90px;
    margin: 5px;
}*/
#french-fries-pic {
	
}

