body {
    font-size: 16px;
    font-family: Copperplate Gothic, bold;
	background-color: purple;
	
}	

#container {
	width: 960px;
	margin: 0px auto;
}


.about-me {
	text-align: center;
	color: aqua;
	border: 1px solid aqua;
	background-image: url("http://cdn.taken.photos/images/www.scenicreflections.com/files/brown_and_teal_flower_abstract_Wallpaper_8wa6g.jpg");
}

 
.container {
	text-align: center;
	color: aqua;
}
h1 {
	
	padding-top: 20px;
	padding-bottom: 20px;
}

img {
	display: inline-block;
	float: left;
}

.footer {
	text-align: center;
	font-size: 33px;
	color: aqua;
	background-image: url("http://cdn.taken.photos/images/www.scenicreflections.com/files/brown_and_teal_flower_abstract_Wallpaper_8wa6g.jpg");
}

#carousel-example-generic {
	width: 1350px;

}

/*@media only screen and (max-device-width: 480px), only screen and (min-device-width: 640px) and (max-device-width: 1136px) and (-webkit-min-device-pixel-ratio: 1.5) {*/
/* iPhone only */
/*}*/

@media (max-width: 320px) {
	#myCarousel.carousel img {
		width: 100px;
		height: auto;
	}
}

 @media screen and (max-width:320px) {
       #main { display: none;}
        }

#myModel {
	font-color: black;
}
.modal-body{
	color: black;
}