body {
    font-size: 16px;
    font-family: Copperplate Gothic, bold;
	background-color: purple;
}
.about-me {
	text-align: center;
	color: aqua;
	border: 1px solid aqua;
	background-image: url("http://cdn.taken.photos/images/www.scenicreflections.com/files/brown_and_teal_flower_abstract_Wallpaper_8wa6g.jpg");
}

 
.container {
	text-align: center;
	color: aqua;
}
h1 {
	
	padding-top: 20px;
	padding-bottom: 20px;
}

img {
	display: inline-block;
	float: left;
}

.footer {
	text-align: center;
	font-size: 33px;
	color: aqua;
	background-image: url("http://cdn.taken.photos/images/www.scenicreflections.com/files/brown_and_teal_flower_abstract_Wallpaper_8wa6g.jpg");
}

